<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
    <body>
      <nav>
          <ul>
              <li><a href="/">Research</a></li>
              <li><a href="/publications">Publications</a></li>
              <li><a href="/cv">CV</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </nav>
      <div class="container">
          <div class="blurb">
              <h1>Welcome to Hongyu's homepage!</h1>
          <p> I am currently a Ph.D. student at University of Illinois at Urbana-Champaign with Natural Language Processing as my research area</p>
          </div><!-- /.blurb -->
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:hgong6@illinois.edu">email</a></li>
              <li><a href="https://github.com/HongyuGong">github.com/HongyuGong</a></li>
        </ul>
      </footer>
    </body>
	</html>
